In [1]:
ls

200511COVID19MEXICO.csv* Descriptores_0419.xlsx*
Catalogos_0412.xlsx*     Examen.ipynb

In [2]:
import glob

In [3]:
import numpy

In [4]:
import matplotlib.pyplot

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('200511COVID19MEXICO.csv', encoding = 'unicode_escape')

In [7]:
data.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [9]:
p2 = data[['FECHA_SINTOMAS', 'ENTIDAD_RES', 'FECHA_DEF']]

In [10]:
print(p2)

       FECHA_SINTOMAS  ENTIDAD_RES   FECHA_DEF
0          2020-03-29           27  9999-99-99
1          2020-03-22           25  2020-03-29
2          2020-03-18           27  2020-04-05
3          2020-04-04           25  2020-04-20
4          2020-04-02           25  2020-04-23
...               ...          ...         ...
135111     2020-05-09            9  9999-99-99
135112     2020-05-08            4  9999-99-99
135113     2020-05-09            5  9999-99-99
135114     2020-05-06           31  9999-99-99
135115     2020-03-28           21  9999-99-99

[135116 rows x 3 columns]

In [11]:
p2.to_csv('tabla1.csv', index = False)

In [12]:
p2.columns

Index(['FECHA_SINTOMAS', 'ENTIDAD_RES', 'FECHA_DEF'], dtype='object')

In [13]:
type(p2)

pandas.core.frame.DataFrame

In [14]:
df = p2

In [15]:
df[(df.ENTIDAD_RES == "27")]

/Users/julioibarra/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [FECHA_SINTOMAS, ENTIDAD_RES, FECHA_DEF]
Index: []

In [16]:
df[(df.ENTIDAD_RES == 27)]

       FECHA_SINTOMAS  ENTIDAD_RES   FECHA_DEF
0          2020-03-29           27  9999-99-99
2          2020-03-18           27  2020-04-05
8          2020-04-07           27  9999-99-99
9          2020-04-17           27  2020-04-25
12         2020-04-28           27  9999-99-99
...               ...          ...         ...
134848     2020-05-03           27  9999-99-99
134886     2020-05-05           27  9999-99-99
134930     2020-05-11           27  9999-99-99
135028     2020-04-30           27  9999-99-99
135029     2020-05-02           27  9999-99-99

[3960 rows x 3 columns]

In [34]:
pf1 = df['ENTIDAD_RES'] == 21

In [33]:
pf2 = df['ENTIDAD_RES'] == 19

In [ ]:
pf3 = df['ENTIDAD_RES'] == 8

In [39]:
pf4 = df['ENTIDAD_RES'] == 26

In [44]:
df[pf1 | pf2 | pf3 | pf4]

       FECHA_SINTOMAS  ENTIDAD_RES   FECHA_DEF
82         2020-03-23           21  2020-03-31
83         2020-03-25           21  9999-99-99
143        2020-03-26           19  9999-99-99
159        2020-04-05           21  9999-99-99
165        2020-04-03           21  9999-99-99
...               ...          ...         ...
135094     2020-05-01           21  9999-99-99
135097     2020-05-10           19  9999-99-99
135101     2020-05-10           19  9999-99-99
135103     2020-05-10           19  9999-99-99
135115     2020-03-28           21  9999-99-99

[13588 rows x 3 columns]

In [45]:
tabla_hospitalizados = data[['FECHA_SINTOMAS', 'ENTIDAD_RES', 'FECHA_DEF', 'TIPO_PACIENTE']]

In [93]:
dfh = tabla_hospitalizados

In [47]:
df_pf1 = dfh['ENTIDAD_RES'] == 21

In [48]:
df_pf2 = dfh['ENTIDAD_RES'] == 19

In [49]:
df_pf3 = dfh['ENTIDAD_RES'] == 8

In [50]:
df_pf4 = dfh['ENTIDAD_RES'] == 26

In [88]:
df_pf5 = dfh['TIPO_PACIENTE'] == 2

In [95]:
df_p = dfh.loc[dfh['ENTIDAD_RES'] == 21]

In [98]:
df_p = dfh.loc[(dfh['ENTIDAD_RES'] == 21) | (dfh['ENTIDAD_RES'] == 19)]

In [106]:
df_p = dfh.loc[(dfh['ENTIDAD_RES'] == 21) 
               | (dfh['ENTIDAD_RES'] == 19) | (dfh['ENTIDAD_RES'] == 8)
               | (dfh['ENTIDAD_RES'] == 26)
              ]

In [111]:
df_p = df_p.loc[dfh['TIPO_PACIENTE'] == 2]

In [113]:
df_p.to_csv('tabla2.csv', index = False)

Empty DataFrame
Columns: [FECHA_SINTOMAS, ENTIDAD_RES, FECHA_DEF, TIPO_PACIENTE]
Index: []

       FECHA_SINTOMAS  ENTIDAD_RES   FECHA_DEF  TIPO_PACIENTE
1          2020-03-22           25  2020-03-29              2
3          2020-04-04           25  2020-04-20              2
4          2020-04-02           25  2020-04-23              2
5          2020-03-31           25  9999-99-99              2
9          2020-04-17           27  2020-04-25              2
...               ...          ...         ...            ...
135103     2020-05-10           19  9999-99-99              1
135105     2020-05-02           15  9999-99-99              2
135111     2020-05-09            9  9999-99-99              2
135112     2020-05-08            4  9999-99-99              2
135115     2020-03-28           21  9999-99-99              1

[45347 rows x 4 columns]